@media screen and (max-width: 1281px) {
    #services-list {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

}

@media screen and (max-width: 1314px) {
    #services-list {
        gap: 2rem;
    }

}

@media screen and (max-width: 751px) {
    #services-list .service {
        flex-direction: column;
        text-align: center;
    }
}


@media screen and (max-width: 706px) {
    .services {
        padding-left: 4rem !important;
        padding-right: 4rem !important;
    }

}

@media screen and (max-width: 425px) {
    .services {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }

}